body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #84796f;
    background-color: #eee9e5;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body.menu-abierto {
    overflow: hidden;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;    
    min-height: 70px;
    background-color: #f7f7f7;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    height: 80px;
}

.carrito{
    color: #84796f;
    background-color: transparent;

    font-size: 1.5rem;
    border: none;
    position: absolute;
    top:45px;
    right:80px;
    cursor: pointer;
}


.contenedorCompra{
    margin-top: 100px;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    color: #f7f7f7;
    background-color: #84796f;
    border-radius: 20px;
}

.informacionCompra{
    width:80%;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.informacionCompra h2{
    font-weight: 200;
    font-size: 25px;
}

.x{
    cursor: pointer;
    font-size: 2rem;
}

.productosCompra{
    font-size: 17px;
    width: 70%;
    height: 200px;
    overflow-y: auto;
    background-color: #f7f7f7;
    color: #84796f;
    border-radius: 10px;
    padding: 20px;
}


.productosCompra div{
    margin: 0 0 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.productosCompra::-webkit-scrollbar{
    width: 7px;
    background-color: #eee9e5;
    border-radius: 5px;
}

.productosCompra::-webkit-scrollbar-thumb{
    background-color: #9782a2;
    border-radius: 3px;
}

.total{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    gap: 5px;
    font-weight: 700;
}

.total span{
    font-weight: 300;
}

.fin{
    background-color: #eee9e5;
    color: #84796f;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    margin-bottom: 5px;
}

.contenedorCompra button{
    color: #84796f;
    background-color: #f7f7f7;
    border: none;
    font-size: 1.2rem;
}

.fin:hover{
    color: #9782a2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.diseñoNumero{
    padding: 0px;
    background-color: #9782a2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    top: 39px;
    right: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.none {
    display: none;
}

.abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
}

.abrir-menu{
    color: #84796f;
}

.cerrar-menu{
    color: #f7f7f7;
}

.nav{
    opacity: 0;
    visibility: hidden;

    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #84796f;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}

.nav-list li a{
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 600; 
}

.pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-card {
    background-color: #f7f7f7;
    border: 1px solid hwb(0 80% 20%);
    border-radius: 8px;
    width: 300px;
    height: 470px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
    cursor: pointer;
}

.product-card img {
    margin-top: 1%;
    width: 98%;
    height: 240px;
    border-radius: 8px;
}

.product-card button{
    margin-left: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color:#9782a2;
    color: #f7f7f7;
    font-size: medium;
    }

.product-card button:active{
    color: #63536b;
}