body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #eee9e5;
}

body.menu-abierto {
    overflow: hidden;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    min-height:70px;
    background-color: #f7f7f7;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}

.logo img{
    height: 80px;
}


.busqueda{
    width: 25vh;
    color: #84796f;
    border-radius: 20px;
    border-color:#84796f ;
}

.input_buscar{
    margin-left: auto;
    margin-right: 20px; 
}

.abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
}

.abrir-menu{
    color: #84796f;
}

.cerrar-menu{
    color: #f7f7f7;
}


.nav{
    opacity: 0;
    visibility: hidden;

    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #84796f;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}

.nav-list li a{
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 600; 
}


.entrada-elemento{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.elemento{
    margin-top: 20px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.elemento li{
    list-style-type: none;
}

.img_elementos img{
    height: 250px;
}

.datos{
    padding-left: 20px;
    color: #84796f;
}

.datos p{
    color: #333333;
}

.estrellas{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


@media (max-width:450px){
    .busqueda{
        width: 15vh;
        margin-left: 20px;
    }
    .elemento{
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .img_elementos img{
        width: 50%; 
        height: auto; 
    }

    .datos{
        padding-left: 0;
        width: 100%;
    }

    .estrellas{
        margin-left: 35%;
    }
}

