body{
    margin:0;
    padding: 0;
    width: 100vw;
    background-color: #eee9e5;
    font-family: sans-serif;
}

body.menu-abierto {
    overflow: hidden;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    min-height:70px;
    background-color: #f7f7f7;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}

.logo img{
    height: 80px;
}

.abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
}

.abrir-menu{
    color: #84796f;
}

.cerrar-menu{
    color: #f7f7f7;
}

.nav{
    opacity: 0;
    visibility: hidden;

    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #84796f;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}

.nav-list li a{
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 600; 
}

.hero-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hero.png) ;
    background-size: cover;
    height: 100vh;

    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text h1{
    color: #eee9e5;
}

.hero-text a{
    border:none;
    color: #84796f;
    font-weight: 600;
    background-color: #eee9e5;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.hero-text a:hover{
    color: #333333;
    font-size: large;
}

.contenedor{
    display: flex;
    align-items: center;
    background-color: #9782a2;
    height: 90vh;
}

.imagen-contenedor, .text-contenedor{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.imagen-contenedor img{
    max-width: 100%;
    height: auto;
}

.text-contenedor{
    text-align: center;
    margin-right: 10 px;
    color: #eee9e5;
}

.temas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0;
}

.temas h2{
    text-align: bottom;
    margin-top: 50px;
    color: #5f4f40;
    font-size: xx-large;
}

.columnas-temas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.libros, .series, .peliculas{
    width: 30%;
    padding: 40px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.columnas-temas p{
    color: #84796f;
}

.columnas-temas h3{
    color: #5f4f40;
}

.boton-libros, .boton-series, .boton-peliculas{
    border: none;
    text-decoration: none;
    background-color: #9782a2;
    color: #eee9e5;
    padding: 8px;
    border-radius: 20px;
}


footer{
    font-size: small;
    color: #84796f;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 40px;
}

@media (max-width:660px){
    
    body{
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    header{
        flex-direction: column;
    }

    .nav_menu{
        align-items: center;
        text-align: center;
    }

    .temas{
        margin-top: 200px;
    }

    .columnas-temas{
        flex-direction: column;
    }

    .libros, .series, .peliculas{
        width: calc(100% - 80px);
    }

    footer{
        margin-top: 300px;
    }
}
